<div class="component-wrapper">
	<div class="border"></div>
	<p class="type_overline">buttons</p>

	{{#each categories}}
		<h2 class="type_zeta_econ_bold">{{catName}}</h2>
		{{#if types}}
			{{#each types}}
				<h3 class="type_eta_econ_bold">{{typeName}}</h3>
				<p>{{className}}</p>
				{{#if hidetype}}
					<a class='{{className}}' href="#"></a>
				{{else}}
					<a class='{{className}}' href="#">{{typeName}}</a>
				{{/if}}
			{{/each}}
		{{/if}}
	{{/each}}
</div>
