<div class="component-wrapper">
    {{#each fonts}}
	    <div class="border"></div>
	    <p>{{name}}</p>
	    <p>{{className}}</p>
	    <p>{{fontDetails}}</p>
	    <h1 class={{className}}>{{sampleText}}</h1>
    {{/each}}
</div>