<div class="component-wrapper">
    <label for="typeFontSelector">Select a font to view style</label>
    <select id="typeFontSelector">
        {{#each fonts}}
        {{#if subTypes.exist}}
        <optgroup label="{{label}}">
            {{#each subTypes.types}}
            <option data-info="{{info}}" data-class="{{class}}">{{label}}</option>
            {{/each}}
        </optgroup>
        {{else}}
        <option data-info="{{info}}" data-class="{{class}}">{{label}}</option>
        {{/if}}
        {{/each}}
    </select>
    <div class="font-wrapper">
        <p><strong class="type-theta-econ-bold">Class:</strong> <span id="typeFontId"> type-tera</span></p>
        <p><strong class="type-theta-econ-bold">Font Style:</strong> <span id="typeFontInfo"> Econ Sans Light,Font Size: 112px / 7rem, Line height: 140px</span></p>
    </div>
    <p id="typeFontSample" class="type-tera">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</p>
</div>